<div class="container">
    <form #makeBranch="ngForm" (ngSubmit)="onSubmit(makeBranch.value, makeBranch)">
  
      <label for="fname">Model</label>
      <input type="text" name="Model" placeholder="Model.." ngModel>
  
      <div class="select-container">
          <select name="Type" class="box-routh select">           
              <option *ngFor="let type of vehicleTypes" value="type" ([ngModel])="type.TypeId" >{{type.Name}}</option>		
          </select> 
       </div>

      <label for="lname">Image</label>
      <br>
      <input type='file' (change)="onSelectFile($event)" name="Image" placeholder="Image.." ngModel>
      <img [src]="url" height="200">
      <br>
      <br>
      <label for="lname">Producer</label>
      <input type="text" name="Producer" placeholder="Producer.." ngModel>
  
      <label for="subject">Year of produce</label>
      <input type="text" name="YearOfProduce" placeholder="Year of produce.." ngModel>

      <label for="subject">Description</label>
      <textarea type="text" id="subject" name="Description" placeholder="Write something about vehicle.." style="height:200px" ngModel></textarea>

      <input type="submit" value="Save">
  
    </form>
  </div>