/* You can add global styles to this file, and also import other style files */
body{
   
    background-image: url("https://media.nature.com/w800/magazine-assets/d41586-018-04158-5/d41586-018-04158-5_15590100.gif");
    background-repeat: no-repeat;
    background-size: 100%
}
