/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("http://hdfondsdecran.com/image/201609/87/cercle-fonce-infini-650x366.jpg");
    background-repeat: no-repeat;
    background-size: 100%
}
