/* You can add global styles to this file, and also import other style files */
body{
   
    background-image: url("https://cdn.static-economist.com/sites/default/files/images/2018/02/articles/main/20180224_SRP062.jpg");
    background-repeat: no-repeat;
    background-size: 100%
}
