
<div class="container">
	<div class="row">
        <div><p style="font-size:larger" style="color: white">Ocenite servis: <p></div>
	<div class="rating">       
      <input (click)="SendRate()"  [(ngModel)]="star5" type="radio" id="star5" name="rating" value="5" /><label for="star10" title="Rocks!"></label>
      <input (change)= "SendRate()" [(ngModel)]="star4" type="radio" id="star4" name="rating" value="4" /><label for="star9" title="Rocks!"></label>
      <input (change)= "SendRate()" [(ngModel)]="star3" type="radio" id="star3" name="rating" value="3" /><label for="star8" title="Pretty good"></label>
      <input (change)= "SendRate()" [(ngModel)]="star2" type="radio" id="star2" name="rating" value="2" /><label for="star7" title="Pretty good"></label>
      <input (change)= "SendRate()" [(ngModel)]="star1" type="radio" id="star1" name="rating" value="1" /><label for="star6" title="Meh"></label>     
    </div>
	</div>
</div>


<div class="container container mt-10 mb-5">
    <h3 class="display-4 text-center"><b> Dobrodosli!</b> </h3>     
    <hr class="bg-dark mb-4 w-25">
   
    <div class="row" >
        <div class="col-sm-5" *ngFor="let vehicle of vehicles; let i=index">
            <div class="card" >
                <img class="card-img-top" src="{{vehicle.Image}}" alt="Card image cap">
                <div class="card-block p-2">
                    <p><b>Model:</b> {{vehicle.Model}}</p>
                    <p><b>Proizvodjac:</b> {{vehicle.Producer}}</p>
                    <p><b>Godina proizvodnje:</b> {{vehicle.ProductionYear}}</p>
                    <p><b>Opis:</b> {{vehicle.Description}}</p>                                   
                </div>  
                <button><a (click) = "showSpecificReservation = vehicle.VehicleID">Reservisi</a></button>       
               <app-vehicles-reserve [(vehicleId)]="vehicle.VehicleID" *ngIf="showSpecificReservation == vehicle.VehicleID"></app-vehicles-reserve>
                </div>          
            </div>
            
        </div>
      </div>
      <a [routerLink]="['/make-vehicle/', serviceId]">Dodaj auto</a>



