<form #f="ngForm" (ngSubmit)="ReservationData(f.value, f)">
<div class="box-form box-form-car">
       <div class="box-form-item first">
         <label for="" class="label">Mesto preuzimanja</label>
         <div class="">
           <div class="select-wrap">
             <i class="fa fa-map-marker" aria-hidden="true"></i>
             
             <div class="select-container">   
                <select  name="preuzimanje" class="box-routh select">           
                <option *ngFor="let branchoffice of Branchiffices" value="BranchOfficeID" ([ngModel])="Branchoffice">{{branchoffice.Address}}</option>		
                </select>             		              
              </div>
            
             <i class="fa fa-caret-down" aria-hidden="true"></i>
           </div>
         </div>
        </div>
       <div class="box-form-item">
         <label for="" class="label">Datum i vreme preuzimanja</label>
         <div class="box-form-subitem">
           <div class="datepicker-wrap">
             <i class="fa fa-calendar" aria-hidden="true"></i>           
             <div class="datepicker-container">
               <input ngModel type="date" name="datump" id="datepicker" class="input-datepicker hasDatepicker" placeholder="IZABERITE">
             </div>
             <i class="fa fa-caret-down" aria-hidden="true"></i>
           </div>
         </div>
         <div class="box-form-subitem">
           <div class="datepicker-wrap">
             <i class="fa fa-clock-o" aria-hidden="true" style="padding-left:10px;"></i>
             <div class="datepicker-container">
               <input ngModel="Time" type="time" name="vremep" id="vremep" class="input-timepicker"  value="15:00">
             </div>
           </div>
         </div>
       </div>
       
       <div class="box-form-item">
         <label for="" class="label">Mesto vraćanja</label>
         <div class="">
           <div class="select-wrap">
             <i class="fa fa-map-marker" aria-hidden="true"></i>
             <div class="select-container">
                <select name="preuzimanje" class="box-routh select">           
                    <option *ngFor="let branchoffice of Branchiffices" value="branchoffice1" ([ngModel])="BranchAddress.BranchOfficeID" >{{branchoffice.Address}}</option>		
                </select> 
             </div>
             <i class="fa fa-caret-down" aria-hidden="true"></i>
           </div>
         </div>
        </div>
       <div class="box-form-item last">
         <label for="" class="label">Datum i vreme vraćanja</label>
         <div class="box-form-subitem">
           <div class="datepicker-wrap">
             <i class="fa fa-calendar" aria-hidden="true"></i>          
             <div class="datepicker-container">
               <input ngModel type="date" name="datumv" id="datepicker2" class="input-datepicker hasDatepicker" placeholder="IZABERITE">
             </div>
             <i class="fa fa-caret-down" aria-hidden="true"></i>
           </div>
         </div>
         <div class="box-form-subitem">
           <div class="datepicker-wrap">
             <i class="fa fa-clock-o" aria-hidden="true" style="padding-left:10px;"></i>
             <div class="datepicker-container">
               <input ngModel type="time" name="vremev" id="vremev" class="input-timepicker">
             </div>
           </div>
         </div>
       </div>
       <button class="btn btn-prime btn-box-form">Rezervišite</button>
     </div>
    
     </form>