<div class="banner-bottom">
<div class="container">
    <div class="w3-banner-bottom-heading">
      <h2 style="font-size: 25px; margin-top: 20px; color: black;">Zašto baš
         <strong>Avaco Rent a car Beograd?</strong>
      </h2>
      <p class="main_description a_center">
        Iskoristite naše povoljne cene i veliku lepezu vozila kako bi izvršili
         <strong>iznajmivanje automobila u Beogradu</strong> 
         brzo i bez skrivenih troškova. Krećite se slobodnije i po sopstvenoj želji dok ste
          u poseti Beogradu uz neko od naših novijih
           <strong>rent a car</strong> vozila. 
          Obe naše lokacije za najam vozila pružaju vam potpunu udobnost i sve potrebne
          informacije kako bi odgovarili vašem budžetu i potrebama za vrstom vozila.</p>
    </div>
    <div class="agileits-banner-bottom">
      <div class="col-md-3 agileits-banner-bottom-grid">
        <div class="services-grid1">
          <div class="services-grid-right agile-services-grid-right">
            <div class="services-grid-right-grid hvr-radial-out blue-grid">
              <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
            </div>
          </div>
          <div class="services-grid-left agile-services-grid-left">
            <h4>Nova rent a car vozila</h4>
            <p style="text-align: center !important; color: black;">Avaco rent a car Beograd poseduje vozila za iznajmljivanje starosti do samo 3 godine.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 agileits-banner-bottom-grid">
        <div class="services-grid1">
          <div class="services-grid-right agile-services-grid-right">
            <div class="services-grid-right-grid hvr-radial-out orange-grid">
              <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
            </div>
          </div>
          <div class="services-grid-left agile-services-grid-left">
            <h4>Dve lokacije preuzimanja</h4>
            <p style="text-align: center !important; color: black;">Iznajmljivanje vozila možete obaviti na dve lokacije u Beogradu, u zavisnosti od vašeg zahteva.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 agileits-banner-bottom-grid">
        <div class="services-grid1">
          <div class="services-grid-right agile-services-grid-right">
            <div class="services-grid-right-grid hvr-radial-out green-grid">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </div>
          </div>
          <div class="services-grid-left agile-services-grid-left">
            <h4>Najbolje cene rent a car vozila</h4>
            <p style="text-align: center !important; color: black;">Avaco rent a car pruža vam iznajmljivanje vozila u Beogradu po povoljnim cenama.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 agileits-banner-bottom-grid">
        <div class="services-grid1">
          <div class="services-grid-right agile-services-grid-right">
            <div class="services-grid-right-grid hvr-radial-out red-grid">
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            </div>
          </div>
          <div class="services-grid-left agile-services-grid-left">
            <h4>Veliki izbor kategorija vozila</h4>
            <p style="text-align: center !important; color: black;">Avaco rent a car Beograd vam pruža veliki izbor kategorije vozila, sedan, džip, dvosed...</p>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  </div>